.formstylecustom{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 margin-top: 100px;
 display:table; 
 margin-left: 50%;
 font-size: large;
 border: 5px solid black;
 padding: 10px;
 background-color: rgb(236, 201, 189);
}

  
fontsize{
    font-size: 20px;
    
}
