<p>login works!</p>
<div>
    <form [formGroup]="loginform">
        <H2>Login Form</H2>
        <div><label>Username</label>
            <input type="text" formControlName="username">
        </div>
        <div class="alert-danger" *ngIf="loginform.controls['username']?.hasError('pattern') 
        && loginform.controls['username']?.invalid">
Username must be small case
        </div>
        <div><label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="alert-danger" *ngIf="loginform.controls['password']?.hasError('pattern')&&
         loginform.controls['password'].invalid">
Only Numbers Are Accpted
        </div>
        <div>
            <button (click)="loginbutton()">Login</button>
        </div>
        <div>
            <!-- <button (click)="Reset(loginform)">Reset</button> -->
        </div>
    </form>
</div>